body {
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  height: 95px;
  padding: 0 20px;
  background-color: #fff;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .logo-title-link {
  font-size: 24px;
  font-weight: 300;
}
header .menu-list {
  display: flex;
  gap: 50px;
}
header .menu-list-item-link {
  font-size: 20px;
}
header .menu-list-item-link:hover {
  color: #FF7A00;
}
header #menu-toggle {
  opacity: 0;
}
header .menu-btn {
  opacity: 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 34px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
header .menu-btn > span,
header .menu-btn > span::before,
header .menu-btn > span::after {
  transition: all 0.2s;
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 20px;
  background-color: #000;
}
header .menu-btn > span::before {
  content: "";
  top: -5px;
}
header .menu-btn > span::after {
  content: "";
  top: 5px;
}
header .menu-container {
  transition: all 0.2s;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  margin-top: 95px;
  padding: 10px 0;
  text-align: right;
  background-color: #FF7A00;
}
header .menu-container-item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
header .menu-container-item:hover {
  background-color: #fff;
  color: #FF7A00;
}
header #menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
header #menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
header #menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
header #menu-toggle:checked ~ .menu-container {
  visibility: visible;
  right: 0;
}

main .top-main {
  max-width: 100%;
  min-height: 600px;
  background-image: url(/images/main-top-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .top-main .main-top-title {
  font-size: 40px;
  font-weight: 400;
  color: white;
  max-width: 750px;
  padding-top: 100px;
}
main .top-main .main-top-subtitle {
  font-size: 20px;
  font-weight: 300;
  color: white;
  max-width: 640px;
  margin: 30px 0 30px 0;
}
main .top-main .order-link {
  font-family: "Istok Web", sans-serif;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 18px 46px;
  background-color: #FF7A00;
  border-radius: 20px;
  transition: all 0.2s;
}
main .top-main .order-link:hover {
  background-color: #b86110;
}
main .garanties {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #ffcfa3 100%);
}
main .garanties .garanties-title {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
main .garanties .garanties-inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .garanties .garanty-block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 40px;
  border: 2px solid #FF7A00;
  border-radius: 10px;
  margin: 0 20px;
}
main .garanties .garanty-block-title {
  font-size: 40px;
  font-weight: 500;
  color: #FF7A00;
}
main .garanties .garanty-block-text {
  font-size: 36px;
  font-weight: 400;
}
main .garanties .garanty-block:nth-child(2n),
main .garanties .garanty-block:nth-child(2n) {
  text-align: right;
}
main .bottom-main {
  background-image: url(/images/main-bottom-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}
main .bottom-main .main-bottom-title {
  font-size: 48px;
  font-weight: 400;
  color: white;
  max-width: 575px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
main .bottom-main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 740px;
  margin: 0 auto;
  border-radius: 10px;
}
main .bottom-main legend {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}
main .bottom-main .input {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}
main .bottom-main input::-moz-placeholder {
  color: black;
  opacity: 0.75;
}
main .bottom-main input::placeholder {
  color: black;
  opacity: 0.75;
}
main .bottom-main input {
  font-size: 20px;
  color: black;
  background: #ffcfa3;
  border-radius: 20px;
  border: none;
  padding: 10px 15px 10px 15px;
  min-width: 17vw;
}
main .bottom-main #question {
  min-height: 90px;
}
main .bottom-main label {
  font-family: "inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
}
main .bottom-main .form-button {
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  color: white;
  background-color: #FF7A00;
  border: none;
  border-radius: 20px;
  max-width: 160px;
  margin: 0 auto;
  padding: 5px 45px;
  transition: all 0.2s;
}
main .bottom-main .form-button:hover {
  background-color: #b86110;
}

footer {
  height: 250px;
  margin: 0 20px;
}
footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-title {
  font-size: 48px;
  font-weight: 300;
}
footer .menu-list {
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer .menu-list-item-link {
  font-size: 20px;
}
footer .menu-list-item-link:hover {
  color: #FF7A00;
}
footer .info {
  text-align: right;
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 960px) {
  .container {
    max-width: 840px;
  }
  header .menu-list {
    gap: 30px;
  }
  main .top-main .main-top-title {
    font-size: 32px;
    padding-top: 50px;
  }
  main .top-main .main-top-subtitle {
    font-size: 16px;
    margin: 20px 0 20px 0;
  }
  main .top-main .order-link {
    font-size: 16px;
    padding: 15px 45px;
  }
  main .garanties {
    padding: 50px 0;
  }
  main .garanties .garanties-title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  main .garanties .garanty-block-title {
    font-size: 40px;
  }
  main .garanties .garanty-block-text {
    font-size: 32px;
  }
  main .garanties img {
    width: 200px;
  }
  main .bottom-main {
    padding: 50px 0;
  }
  footer .menu-list-item-link {
    font-size: 18px;
  }
  footer .info {
    max-width: 220px;
  }
}
@media (max-width: 720px) {
  header {
    position: fixed;
    z-index: 1;
  }
  header .menu-list {
    display: none;
  }
  header .menu-btn {
    opacity: 1;
  }
  main {
    padding-top: 95px;
  }
  main .garanties .garanties-inner {
    gap: 25px;
  }
  main .garanties .garanty-block {
    flex-direction: column;
    gap: 25px;
    padding: 25px 40px;
  }
  main .garanties .garanty-block-title,
  main .garanties .garanty-block-text {
    text-align: center;
  }
  main .bottom-main .input {
    flex-direction: column;
    gap: 0;
    align-items: start;
    justify-content: start;
    margin: 0 auto;
    min-width: 330px;
  }
  main .bottom-main .input label {
    order: -1;
    text-align: left;
  }
  main .bottom-main input {
    width: 95%;
    margin-bottom: 15px;
  }
  footer .menu-list {
    display: none;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 410px;
  }
  main .top-main .main-top-title {
    font-size: 20px;
    padding-top: 25px;
    max-width: 375px;
  }
  main .top-main .main-top-subtitle {
    font-size: 14px;
    margin: 10px 0 20px 0;
    max-width: 250px;
  }
  main .top-main .order-link {
    font-size: 15px;
  }
  main .garanties {
    padding: 25px 0;
  }
  main .garanties .garanties-title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  main .garanties .garanty-block {
    margin: 0 10px;
    padding: 25px 20px;
  }
  main .garanties .garanty-block-title {
    font-size: 32px;
  }
  main .garanties .garanty-block-text {
    font-size: 20px;
  }
  main .garanties img {
    width: 150px;
  }
  main .bottom-main {
    padding: 25px 0;
  }
  main .bottom-main .main-bottom-title {
    font-size: 36px;
    margin-bottom: 25px;
  }
  main .bottom-main legend {
    font-size: 32px;
    margin-bottom: 25px;
  }
  footer {
    height: auto;
    padding: 25px 0;
  }
  footer .container {
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
  footer .menu-list {
    display: block;
  }
  footer .info {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */